<div class="App" style="padding:20;">
  <div class="App-header">
    <header>This is Header.</header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/mvc">Hello</a>
        </li>
        <li>
          <a href="/mvc/controller">Controller</a>
        </li>
        <li>
          <a href="/mvc/routs">Routes</a>
        </li>
        <li>
          <a href="/mvc/view">View</a>
        </li>
        <li>
          <a href="/mvc/module">Model</a>
        </li>
      </ul>
    </nav>
    <section>
      {{contents}}
    </section>
    <footer>This is Footer.</footer>
  </div>
</div>
